<div class="defaultbackground"> 
	
	<h2 style="text-align: center;">Encontre Receitas</h2>
	<div class="col-md-8 col-md-offset-2 input-group">
		
	      
	      <input type="text" class="form-control" placeholder="preencha o número do ingrediente ou da receita">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Procurar</button>
	      </span>
	    </div>

		<section id="top_recipes" class="clearfix">
			<div class="wrapper">
				<header class="clearfix"></header>
				<% @recipes.in_groups_of(4) do |group| %>
					<div class="row">
						<% group.each do |recipe| %>
							<% if recipe %> 
								<div class="post">
									<img><%= image_tag(recipe.image.url, class:"indeximage") %></img>
									<h3><%= link_to recipe.title, recipe %></h3>
									<p class="post_info"> 230 kcal | 1 porção | 109 Minutes </p>
								<% end %> 
								</div>
						<% end %> 
					</div>
				<% end %>  

			</div>
		</section>