<div class="defaultbackground">
	<div class="wrapper"> 

		<h2> Criar nova receita </h2>

		<%= render 'form' %> 

		<br>
	
		<br> 
		<%= link_to "Voltar", root_path, class: "btn btn-default" %> 
	</div>
</div>