/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$main: #252529;
$secondary: #8b8b9f;
$highlight:	#73e298;
$white: #FFFFFF;

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1024px;
	max-width: 90%;
	margin: 0 auto;
}


h1, h2 {
	font-weight: 700;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

.defaultbackground {
	background-color: #f4f4f4;
	padding: 2em 2em;
}

.positionrelative {
	position: relative;
}

#top_header {
	padding: 1.5em 0;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	#main_nav {
		float: right;
		font-size: .9em;
		padding-top: 1em;
		a {
			color: $secondary;
			text-decoration: none;
			margin-left: 1em;
		}
	}
}

.navbar-default {
	margin-bottom: 0px;
}

.indeximage {
	width: 100%;
	max-width: 100%;
	height: 130px;
	border-radius: .5em;
}



#indexbanner {
	background: #ad839c; /* Old browsers */
	background: -moz-linear-gradient(top, #ad839c 0%, #4f2a6b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ad839c 0%,#4f2a6b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ad839c 0%,#4f2a6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad839c', endColorstr='#4f2a6b',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 6.5em 0;
	#banner_content_wrapper {
		width: 1024px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center; 
		
		.title, .description {
		color: $white;
		text-align: center; 	
		}

	}
	#showcontent {
		float: left;
		width: 500px;
		margin-left: 100px;
		
		.title {
			display: inline;
			font-size: 1.75em;
			color: $white;
		}
		.description {
			color: #bbbebf;
			font-size: 1em;
			line-height: 2;
		}
		.info {
			color: $white;
			font-size: .8em;
			font-weight: 700;
			margin-top: 3em;
			span {
				margin: 0 .5em;
			}
		}
	}
}

#top_recipes, #top_lists {
	padding: 5em 0;
	header {
		padding: 0 0 1.5em 0;
		h2, .view_more {
			display: inline;
		}
		h2 {
			font-size: 1.75em;
			margin-left: 0.75%; 
		}
		.view_more {
			float: right;
			font-size: .8em;
			margin: .75em 3.5% 0 0;
		}
	}
}

#top_recipes {
	border-bottom: 1px solid #d4d4d4;
}

.row {
	width: 100%;
	margin-bottom: 25px;
	.post {
		width: 22.5%;
		float: left;
		margin-left: 2.5%; 

		img {
			width: 100%;
			max-width: 100%;
			max-height: 50%; 
			border-radius: .5em;
		}
		.title {
			font-size: 1.25em;
			margin: 1em 0 0 0;
			color: $main;
		}
		.post_info {
			font-size: .75em;
			color: $secondary;
			margin: 0 0 0.5em 0;
			text-align: center;
		}
		h3 {
			font-size:1em;
			font-weight: 700;
			margin-top:3px;
			margin-bottom:2px;
			text-align: center;
			text-decoration: none;
			color: $highlight;
		}	
		a {
			text-decoration:none;
			background-color: none;
			
			:hover {
				text-decoration:none;
				background-color: none; 
			}
		}
	}
}

#showrecipebanner {
	background: #ad839c; /* Old browsers */
	background: -moz-linear-gradient(top, #ad839c 0%, #4f2a6b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ad839c 0%,#4f2a6b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ad839c 0%,#4f2a6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad839c', endColorstr='#4f2a6b',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 2em 0;
	#banner_content_wrapper {
		width: 1024px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center; 
		
		.title, .description {
		color: $white;
		text-align: center; 	
		}
}
}

.showpanel {
		position: relative;
		float: left;
		
		.featured_image {
			width: 100%;
			max-width: 100%;
			max-height: 225px;
			border-radius: .5em;
			-webkit-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
			-moz-box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
		  box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
		}
		.play_button {
			position: absolute;
			width: 80px;
			left: 50%;
			top: 50%;
			margin: -40px 0 0 -40px;
		}
	} 

#recipeshowsection {
	background-color: #cecece;
	height: 100px;
}

.wrappermedium {
	width: 960px;
	margin: 0 auto;
}

.recipeattrwrapper {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	padding: 25px;

	.recipeattr {
		width: 18%;
		display: inline-block;

		h4 {
			margin-bottom:0;
			font-weight: 700;
		}

		h5 {
			margin-top: 5px;
		}

		span:hover {
			color: #b0171f;
		}
	}
}

#newsletter {
	padding: 5em 0;
	text-align: center;
	background: #2a2a2e;
	.newsletter_inner {
		width: 600px;
		margin: 0 auto;
	}
	h2 {
		font-size: 1.75em;
		color: $white;
	}
	.sign_up_form {
		margin-top: 3em;
		input[type="text"], input[type="email"] {
			width: 48%;
			margin: 0 .5%;
			height: 3.25em;
			border: none;
			outline: none;
			border-radius: .3em;
			background: #404043;
			padding: .5em 1.25em;
			font-size: .8em;
			color: $white;
		}
		.button {
			border: none;
			outline: none;
			padding: 1em 4.5em;
			border-radius: 2em;
			background: $highlight;
			color: $white;
			font-weight: 700;
			font-size: .9em;
			margin-top: 3em;
		}
	}
}

#main_footer {
	padding: 2.5em 0;
	text-align: center;
	.logo {
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	.copyright {
		color: $secondary;
		font-size: .75em;
		margin: 0;
	}
	.links {
		display: inline;
		a {
			color: $secondary;
			font-size: .75em;
			text-decoration: none;
			margin: 0 .5em;
			&:hover {
				color: $highlight;
			}
		}
	}
}









